name: deploy

on:
  push:
    branches:
      - 'source'
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/

      - name: Setup Node
        uses: ckotzbauer/actions-toolkit/setup-nodejs@0.50.1

      - name: Build
        run: |
          npm i
          npm run build-prod

      - name: Install SSH Client
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          ssh-key: true
          branch: master # The branch the action should deploy to.
          folder: build/out # The folder the action should deploy.
